# macOS                                                                                                                
.DS_Store                                                                                                              
                                                                                                                         
# Xcode                                                                                                                
build/                                                                                                                 
DerivedData/                                                                                                           
*.xcuserstate                                                                                                          
xcuserdata/                                                                                                            
                                                                                                                         
# Documents                                                                                                            
*.docx
!FinderToysExtension/Blank.docx
*.pdf         

.claude

/assets/FinderToys Demo sped up.mp4
/assets/FinderToys Demo.mp4
dist/
